<h1>Thanks to use Graft Framework.</h1>

<h5>Contact me if you have any problems : <b>gregoire.drapeau79@gmail.com</b></h5>
<h5>Or go <a href="https://github.com/Zusoy/graft-framework-core">here</a> for more information</h5>